form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  table {
    border-collapse: collapse;
    width: 70%;
    
    margin-bottom: 1rem;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }