<p>Users with details!</p>
<table>
    <thead>
        <tr><td>Name</td>
            <td>Id</td>
            <td>Branch</td>
            <td>More</td>
        </tr>
    </thead>
    <tbody>
        <tr><td>Priyanka</td>
            <td>001</td>
            <td>C S</td>
            <td><a [routerLink]="['/morninglink']" >Details</a></td>
        </tr>
        <tr><td>Rachana</td>
            <td>002</td>
            <td>C S</td>
            <td><a [routerLink]="['/morninglink']" >Details</a></td>
        </tr>
        <tr><td>Prathibha</td>
            <td>003</td>
            <td>C S</td>
            <td><a [routerLink]="['/morninglink']" >Details</a></td>
        </tr>
    </tbody>
</table>

